<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="DBConnString" connectionString="Data Source=localhost;Initial Catalog=p3_db;User ID=root;Password=johnBob174!ba_"/>
  </connectionStrings>
</configuration>